body{
    height: 100vh;
    display: flex;
    margin: 0px;
    overflow: hidden;
}

/* .content{
    display:flex;
    flex-direction: column;
}

.form{
    flex: 1;
} */

.sign{
    padding: 10px;
}

p{
    padding: 10px;
}

div{
   /* flex: 1;  */
}

/* .image{
    flex-basis: 25%;
}*/

.content{
   /* padding: 20px;  */
} 


input{
    border-color: #E5E7EB;
    border-style: solid;
}

.names,
.info,
.passwords{
    display: flex;
    gap: 20px;
}

.input{
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

form{
    /* border: 1px solid; */
    
}


img{
    max-width:100vw;
    max-height:100vh;
    margin: 0px;
    
}

button{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
}
